<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg==" crossorigin="anonymous" />
<%- include('../partials/header') %>

<%- include('../partials/post_nav', {user : user}) %>

<div class="container" id="internship-container">
    
    <div class="row">
        <div class="col-sm-4 sticky-top" style="height: fit-content;">
            <div class="internship-box " style="margin-top:57px">
                <h5 class="heading"> 
                    <svg id="Capa_1" enable-background="new 0 0 512.004 512.004" height="24px" viewBox="0 0 512.004 512.004" width="24px" fill="#007bff" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <path d="m361.183 0c-54.059 0-99.836 36.049-114.505 85.331h-192.948c-18.024 0-28.614 20.339-18.285 35.119.16.231-5.363-7.31 129.747 177.039 2.714 3.951 4.148 8.57 4.148 13.367v177.688c0 19.435 22.224 30.24 37.473 18.754l57.593-43.518c8.614-6.415 13.754-16.655 13.754-27.409v-125.515c0-4.798 1.435-9.417 4.149-13.369l46.497-63.451c76.139 21.439 151.81-36.022 151.81-114.791.001-65.752-53.577-119.245-119.433-119.245zm-103.192 279.919c-5.835 7.968-9.831 19.1-9.831 30.938 0 136.483.734 127.081-1.68 128.869-1.91 1.421 10.835-8.188-47.14 35.618v-164.488c0-11.012-3.327-21.608-9.622-30.646-.169-.242 4.923 6.71-120.835-164.88h172.938c-1.457 44.852 22.126 84.961 58.678 106.581zm103.192-71.428c-49.314 0-89.434-40.035-89.434-89.246 0-49.21 40.12-89.245 89.434-89.245 49.313 0 89.433 40.035 89.433 89.245.001 49.211-40.119 89.246-89.433 89.246z"/>
                            <path d="m400.201 80.298c-5.854-5.864-15.35-5.872-21.213-.02l-17.805 17.773-17.805-17.773c-5.863-5.853-15.361-5.846-21.213.02-5.853 5.862-5.844 15.36.019 21.213l17.767 17.735-17.767 17.735c-5.863 5.853-5.872 15.351-.019 21.213 5.833 5.844 15.331 5.891 21.213.02l17.805-17.773 17.805 17.773c5.845 5.834 15.343 5.862 21.213-.02 5.853-5.862 5.844-15.36-.019-21.213l-17.767-17.735 17.767-17.735c5.863-5.853 5.872-15.351.019-21.213z"/>
                        </g>
                    </svg>
                    Filter
                </h5>
                <form id="search-form">
                    <div class="form-group">
                        <label for="title"> Category </label>
                        <select name="title" class="selectpicker search-input"  data-live-search="true">
                                <option value="allPosts" selected>Choose One</option>
                            
                            <% var flags = [], output = [], l = posts.length %>
                            <% for( i=0; i<l; i++) { %>
                                <%    if( flags[posts[i].title]) continue; %>
                                <% flags[posts[i].title] = true; %>
                                <% output.push(posts[i].title); %>
                            <% } %>
                            <% output.forEach(t => { %>
                                <option><%= t %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="location"> Location </label>
                        <select name="location" class="selectpicker search-input"  data-live-search="true">
                                <option value="allPosts" selected>Choose One</option>
                            
                            <% var flags = [], output = [], l = posts.length %>
                            <% for( i=0; i<l; i++) { %>
                                <%    if( flags[posts[i].location]) continue; %>
                                <% flags[posts[i].location] = true; %>
                                <% output.push(posts[i].location); %>
                            <% } %>
                            <% output.forEach(t => { %>
                                <option><%= t %></option>
                            <% }); %>
                        </select>
                    </div>
                    
                    <div class="form-group flex-row">
                        <label style="display: inline-block;"> Work from home</label>
                        <div class="switch_container">
                            <input type="checkbox" class="search-input" name="isWFH" id="work_from_home">
                            <label class="" for="work_from_home"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="duration"> Max. duration (months) </label>
                        <select name="duration" class="selectpicker search-input"  data-live-search="true">
                                <option value="allPosts" selected>Choose One</option>
                            
                            <% var flags = [], output = [], l = posts.length %>
                            <% for( i=0; i<l; i++) { %>
                                <%    if( flags[posts[i].duration]) continue; %>
                                <% flags[posts[i].duration] = true; %>
                                <% output.push(posts[i].duration); %>
                            <% } %>
                            <% output.forEach(t => { %>
                                <option><%= t %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="reset-link-wrapper">
                        <a id="reset-link"> Clear all</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm" id="all_internships" style="margin-left: 9px;">
            <%- include('allposts', {posts: posts, pub: pub}) %>
        </div>
    </div>
</div>

<%- include('../user/login-modal') %>

<script src="/static/js/post.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous"></script>
 <%- include('../partials/footer') %>

